@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom Components Styling */

@layer components {
  .nav {
    @apply flex items-center justify-between w-full text-black shadow-2xl drop-shadow-2xl shadow-zinc-500 bg-neutral-200 rounded-br-2xl;

  }
  .nav .title {
    @apply font-semibold text-xl h-fit px-2 py-2.5 align-middle  border-r-2 first-letter:text-blue-800 first-letter:text-2xl first-letter:italic rounded-br-xl border-transparent shadow-inner drop-shadow-2xl;
  }
  
  .button {
    @apply flex items-center h-full text-sm font-semibold p-3.5;
  }
}